* {
  margin: 0;
  padding: 0;
}

.project-container {
  border: 1px black solid;
  border-radius: 5px;
  margin: 5px;
  padding: 1rem;
}

.project-container h1 {
  margin-bottom: 10px;
}

.task-container {
  /* border-bottom: 1px black solid; */
  margin-bottom: 15px;
}

.task-header,
.project-header {
  display: flex;
}

.task-header h2,
.project-header h1 {
  margin-right: auto;
}

.task-header input {
  margin-right: 10px;
}

.task-container.completed h2 {
  text-decoration: line-through;
}

.overdue {
  color: red;
  font-weight: bold;
}

.delete-button {
  border: none;
  outline: none;
  background-color: transparent;
}

.collapsed .task-body {
  display: none;
}