* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-areas: 'header header'
    'projects-list project-body';
}

header {
  grid-area: header;
  display: flex;
  background-color: lightblue;
}

.project-list-container {
  grid-area: projects-list;
  background-color: lightgray;
}

.project-container {
  grid-area: project-body;
}

.project-container h1 {
  margin-bottom: 10px;
}

.task-container {
  margin-bottom: 15px;
}

.task-header,
.project-header {
  display: flex;
}

.task-header h2,
.project-header h1 {
  margin-right: auto;
}

.task-header input {
  margin-right: 10px;
}

.task-container.completed h2 {
  text-decoration: line-through;
}

.overdue {
  color: red;
  font-weight: bold;
}

.delete-button {
  border: none;
  outline: none;
  background-color: transparent;
}

.task-body,
.project-body {
  transition: max-height 0.3s ease;
  overflow: hidden;
}

.progress-bar {
  background-color: green;
}