* {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* General layout */

html {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  height: min-content;
  display: flex;
  background-color: lightblue;
}

.content {
  height: 100%;
  display: flex;
}

.project-list-container {
  height: 100%;
  background-color: lightgray;
  width: 10rem;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.project-container {
  flex: 1 0 auto;
  overflow: auto;
}

/* Main window styling */

.project-list-container {
  padding: 1rem;
}

.project-list-container li {
  padding: .5rem 0;
  font-size: 1.5rem;
}

.project-container {
  padding: 1rem;
}

.project-container .add-task-button {
  margin-bottom: 1rem;
}

.task-container {
  margin-bottom: 15px;
}

.task-header,
.project-header {
  display: flex;
}

.task-header h2,
.project-header h1 {
  margin-right: auto;
}

.task-header input {
  margin-right: 10px;
}

.task-container.completed h2 {
  text-decoration: line-through;
}

.overdue {
  color: red;
  font-weight: bold;
}

.delete-button {
  border: none;
  outline: none;
  background-color: transparent;
}

.task-body,
.project-body {
  transition: max-height 0.3s ease;
  overflow: hidden;
}

.progress-bar {
  background-color: green;
}